@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: hsl(8, 10%, 95%);
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    width: 800px;
}

.consigna{
   text-align: center;
}

hr{
    background-color: #ccc;
    width: 100%;
    border: none;
    height: 1px;
}

.p_secundario{
    color: #969696;
    text-align: center;
}